/* members */

.member{
    width: 90vw;
    min-height: 50vh;
    margin: auto;
    overflow: hidden;
}
.MEM{
    width: 95%;
    margin: auto;
    justify-content: space-between !important;
    
}
.member .mem {
    position: relative;
    width: 22rem;
    aspect-ratio: 1;
    overflow: hidden;
    box-shadow: 1px 1px 20px black, 
                -1px -1px 20px black;
    cursor: pointer;
    border-radius: 50%;
    margin: 2rem;
    transform: scale(.95);
    transition: .3s all ease;


    .over{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.4);
        transform: rotateZ(-180deg);
        transform-origin: bottom left;
        transition: .6s all ease;

        h3{
            color: white;
            font-size: 2.2rem;
            font-family: 'Gloria Hallelujah', cursive;
        }

        p{
            color: white;
            font-size: 1.4rem;
            font-family: 'Gloria Hallelujah', cursive;
            text-align: center;
        }
    }

    img{
        height: 100%;
    }

    &:hover{
        transform: scale(1);
        border-radius: 10%;

        .over{
                transform: rotateZ(0deg);
            }
    }

}
