/* lg */
@media (min-width: 1200px) {
  html {
    font-size: 100% !important;
  }
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 80% !important;
  }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 85% !important;
  }
}

/* xs */
@media (max-width: 767px) {
  html {
    font-size: 70% !important;
  }
}

/* XS Portrait */
@media (max-width: 479px) {
  html {
    font-size: 75% !important;
  }
}

@media (max-width: 900px) {
    .heading {
        font-size: 2.5rem !important;
    }
  section{
      width: 100vw !important;
      margin: auto !important;
  }
  .section{
      width: 100%;

  }
  .t-right{
     width: 15rem;
  }
}
@media (max-width: 700px) {
    .heading {
        font-size: 1.5rem !important;
    }
  .t-right{
      display: none;
  }
  .bottom{
      flex-direction: column !important;
  }
  .member .mem {
      width: 25rem;
  }
  .MEM{
      flex-direction: column;
  }
  .date{
 width: 90% !important;
}

}
@media (max-width: 400px) {
    .heading {
        font-size: 1rem !important;
    }
  .t-right{
      display: none;
  }
  .bottom{
      flex-direction: column !important;
  }
  .member .mem {
      width: 25rem;
  }
  .MEM{
      flex-direction: column;
  }
  .date{
 width: 90% !important;
}

}
